APP_REPOSITORY:
APP_REVISION:
IMAGE_TAG:
IMAGE_DIGEST:
DOMAIN:
HOST_OWNER:
LINUX_DISTRIBUTION_AND_VERSION:
DOCKER_ENGINE_VERSION:
CADDY_VERSION:
POSTGRESQL_VERSION:
MIGRATION_REVISION:
SECRET_STORE_REFERENCE:
BACKUP_POLICY_REFERENCE:
ROLLBACK_OWNER:
